body {
  padding-top: 50px;
}
.jumbotron{
  background: rgba(0, 0, 0, 0.219);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* position: absolute; */
}
.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

.parallax-bg {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1{
  background-image: url("news-page.jpg");
  min-height: 50%;
}
.btn-save{
  float: right;
  margin-right: 2em;
  margin-top: 1em;
}
#btn-scrape{
  margin-top:8px;
}

.panel{
  border-radius: 0;
}