<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">List of Articles</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				{{#each articles}}
					{{#unless saved}}
						{{> articles/article-list}}
					{{/unless}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>

{{!-- End Modal --}}